<div>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayoutAlign="center" fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Greetings</h3>
          </mat-card-title>
          <mat-card-content fxLayoutAlign="center">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text" placeholder="Enter your city" aria-label="City" matInput>
                </mat-form-field>
                <div fxLayoutAlign="center">
                    <div class="blocks">
                        <button type="submit" mat-flat-button color="accent">
                            <mat-icon>check</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
</div>