.card {
    margin-top: 75px;
    min-width: 50%;
  }

.example-form {
  min-width: 150px;
  max-width: 600px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

app-weather {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 600px;
}